*{
       padding: 5px;
}

.lists{
    
    display: flex;
    margin-bottom: 5vw;
}

ul{
    list-style: none;
    font-size: 0.8rem;
}
ul p{
     font-size: 0.8rem;
}
h6{
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.305);
}

li{
    margin-bottom: 10px;
}

.cpright{
    color: rgba(255, 255, 255, 0.352);
    border-top: 1px solid rgba(255, 255, 255, 0.238);
}
.cpright a{
         color: rgba(255, 255, 255, 0.352);
}

li :hover{
    color: rgb(222, 105, 59);
}