
section{
    width: 100%;
    max-width: 980px;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /*blur backdround*/
    background-color: transparent;
    backdrop-filter: blur(10px);
    font-size: 20px;
    box-sizing: border-box;
    padding: 15px;
    border-bottom: 1px solid rgba(254, 254, 254, 0.52);
}
nav:hover{
    background-color: #04165d;
}
img{
    margin-right: 60px;
}
li{
    
    margin-left: 30px;
  text-align: center;
    display: flex;
    flex-direction: row;
    margin-right: 100px
}
ul{
    margin-left: 30px;
    cursor: pointer;
}

ul:hover{
    color: orange;
}

button{
    color: white;
    border: none;
    padding: 15px;
    font-size: 1rem;
    border-radius: 10px;
    cursor: pointer;
    background-color: #036ef2;
}


@media (max-width: 768px){
    nav{
        font-size: 0rem;
        max-width: 700px;
    }
    .obs{
        margin: 0;
    }
}