<main> 
    
 

    <section id="principal">
        <article>
            <h1>Simplificando<br> hoje para <b> construir amanhã</b> </h1>
            <p>convertemos desafios eme estrategisa que reinventao o futuro <br> do seu negócio.</p>
       
          <!---<h1>transforme seu negocio com<br>consultoria tecnologica</h1>
            <p>Soluçoes tecnologicas personalizadas que transforma desafios em oportunidades</p>
            <button>Transofrme seu negocio</button>

            <h1>Comprometidos com<br> a inovação, centrada nas pessoas <br></h1>
            <p>Transformando negócios através da tecnologia e <br> sustentabilidade.</p>
            <button>Descobrir Soluçoes</button>
            -->  
        </article>
             <button type="click">Transoforme o seu negocio</button>

    </section>

    <section id="solucoes">
        <article>
            <p><b>Soluçoes</b></p>
            <h2>Tecnologia, consultoria e segurança <br>
            integradas para impulsionar sua <br> transformaçao digital:</h2>
        </article>
        <div id="container">
            <div class="square1">
                <h3>Consultoria organizacional</h3>
                <p>Potencializa os seus negocios com estrategias inovadoras e consultoria especializada</p>
                <a>SAIBA MAIS</a>
            
            </div>
            <div class="square2">
                <h3>Saúde Digital</h3>
                <p>Soluçoes integradas para optimizar a gestao de saude</p>
                <a>SAIBA MAIS</a>
                <img/>
            </div>
            <div class="square1">
                <h3>Serviços de Redes, Sistemas e Operaçoes IT</h3>
                <p>Base sólida para inovaçao e crescimento  continuo com segurança e eficiencia</p>
                <a>SAIBA MAIS</a>
                <img/>
            </div>
            <div class="square2">
                <h3>Software à Medida</h3>
                <p>Desenvolvimento de soluçoes constumizadas com mão de obra nacional especializada</p>
                <a>SAIBA MAIS</a>
                <img/>
            </div>
        
        </div>
    </section>


    <section id="indicacoes">
        <article>
        <div class="head">
            <p class="ind"><b>INDICADORES</b> </p>
            <h2 class="ind">Numeros que contam a nossa Historia. uma decada de transformaçao digital em <br> Angola</h2>
          </div> 
          <div class="numbers">
                <h1>12+
               <p>Anos de experiencia</p>
                </h1>
            
            <div class="num">
                <h1>100+
                <p>Clientes satisfeitos</p>
                </h1>
          
                <h1>300+
                <p>Projetos concluídos</p>
                </h1>
                
            </div>
          <div class="num2">
                 <h1>50+
                 <p>Especialista</p>
                 </h1>
              
                <h1>300+
                 <p>Colaboradores</p>
          </h1>
          </div>
            </div>
      
        </article>
    </section>

    <section id="certificacoes">
        <article>
            <p><b>CERTIFICAÇOES</b></p>
            <h1>Temos o compromisso de entregar com<br>
            <b>qualidade e inovação.</b> As nossas certificaçoes sao reconhecimentos da
            nossa visao estrategica</h1>
            <img src="https://tis.ao/wp-content/uploads/2025/08/iso_9001_2.webp"><img src="https://tis.ao/wp-content/uploads/2025/05/GPTQ.webp">
        </article>
    </section>

    <section id="sustentabilidade">
        <article>
            <img src="https://tis.ao/wp-content/uploads/2025/05/selo-nota-website-sustentavel.webp">
            <h1 class="text"><b>Sustentabilidade</b> com impacto</h1>
            <p class="text">A TIS posiciona-se como um agente activo no estabelecimento de novos paradigmas empresariais,<br> 
                onde a sustentabilidade é vista não apenas como um dever ético, mas como um vector de inovação e competitividade.</p>
        </article>   
    </section>


  <!--- <section id="agenda">
        <article>
            <h2>Agenda TIS</h2>
        </article>

        <div class="sqrd">
            <img src="https://tis.ao/wp-content/uploads/2025/06/logo_mono_1.webp" alt="">
        </div>
        <div class="sqr">
            <img src="https://tis.ao/wp-content/uploads/2025/06/bg-cta-2.webp" alt="">
        </div>
        <div class="sqr">
            <img src="https://tis.ao/wp-content/uploads/2025/06/bg-cta-3.webp" alt="">
        </div>
        <div class="sqr">
            <img src="https://tis.ao/wp-content/uploads/2025/06/bg-cta-4.webp" alt="">
        </div>
          <div class="sqr">
            <img src="https://tis.ao/wp-content/uploads/2025/06/bg-cta-5.webp" alt="">
        </div>
         
    </section>---> 

    <section id="ecossistema">
       <article> 
            <p><b>Ecossistema</b></p>
            <h1>
                Construímos pontes estratégicas com <br>
                <b>líderes tecnológicos</b> para potencializar<br>
                soluções transformadoras:
            </h1>
        </article>
        <div id="carrousel"></div>
    </section>

    <section id="cta">
       <article>
        <p><b>CONTACTO</b></p>
        <h1>
            Potencione o seu negocio com inovaçao<br>
            Conecte- se com uma equipa que<br> transforma desafios em solucoes
        </h1>
        </article>
        <button type="click">Entre em contacto</button>
    </section>
    
</main>